Projetc

In [1]:
import math
import sys, os
import numpy as np
import pandas as pd
import openpyxl

In [7]:

sys.path.append(os.path.abspath(os.path.join('modulos')))
from estrategia1 import * # o Asteriscos importa tudo que estra dentro no Modulo! 
from estrategia2 import * # o Asteriscos importa tudo que estra dentro no Modulo! 
from estrategia3 import * # o Asteriscos importa tudo que estra dentro no Modulo! 
from openpyxl import load_workbook

In [12]:
pd.set_option('display.max_columns', 50)

## Carregando os Dados

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html

In [127]:
# Criamos uma lista para identificar valores ausentes
lista_labels_valores_ausentes = ["n/a", "na", "NaN", "undefined"]

In [129]:
# Criamos uma lista para identificar valores ausentes
dataset = pd.read_csv('DashboardGestaoObra.csv', sep=';', na_values=func_calc_percentual_valores_ausentes)

In [131]:
dataset.shape

(487, 12)

In [133]:
dataset.head()

,Tarefa,Quant. planejada,Unidade,Duração (dias),Início,Término,Previsto,Valor previsto,Medido,Valor medido,IDP,Status
0,1 - OBRA DE INFRAESTRUTURA,NaN,NaN,638.0,03/04/2023,30/09/2025,"90,75%","R$ 16.830.985,15","92,81%","R$ 17.212.824,78","1,02",Em dia
1,2 - ADMINISTRAÇÃO DA OBRA,NaN,NaN,107.0,01/06/2023,31/10/2023,"100,00%","R$ 687.889,44","100,00%","R$ 687.889,44","1,00",Concluído
2,3 - EQUIPE DE CAMPO,NaN,NaN,107.0,01/06/2023,31/10/2023,"100,00%","R$ 687.889,44","100,00%","R$ 687.889,44","1,00",Concluído
3,4 - Gerente de obra (GO),"6,0000",vb,107.0,01/06/2023,31/10/2023,"100,00%","R$ 196.939,44","100,00%","R$ 196.939,44","1,00",Concluído
4,5 - Mestre de obras,"6,0000",vb,107.0,01/06/2023,31/10/2023,"100,00%","R$ 185.986,38","100,00%","R$ 185.986,38","1,00",Concluído

## Análise Exploratória

In [136]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 487 entries, 0 to 486
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tarefa            487 non-null    object
 1   Quant. planejada  351 non-null    object
 2   Unidade           351 non-null    object
 3   Duração (dias)    486 non-null    float64
 4   Início            486 non-null    object
 5   Término           486 non-null    object
 6   Previsto          487 non-null    object
 7   Valor previsto    379 non-null    object
 8   Medido            487 non-null    object
 9   Valor medido      331 non-null    object
 10  IDP               487 non-null    object
 11  Status            487 non-null    object
dtypes: float64(1), object(11)
memory usage: 45.8+ KB

In [138]:
dataset.describe()

       Duração (dias)
count      486.000000
mean       255.897119
std        167.683679
min          6.000000
25%        107.000000
50%        255.500000
75%        354.000000
max        816.000000

In [140]:
dataset.shape

(487, 12)

In [142]:
dataset.columns.tolist()

['Tarefa',
 'Quant. planejada',
 'Unidade',
 'Duração (dias)',
 'Início',
 'Término',
 'Previsto',
 'Valor previsto',
 'Medido',
 'Valor medido',
 'IDP',
 'Status']

In [144]:
# Verifica o percentual de valores ausentes
# Função do módulo estratégia 1
func_calc_percentual_valores_ausentes(dataset)

O dataset tem 9.22 % de valores ausentes.

In [146]:
# Cria tabela com valores ausentes
df_missing = func_calc_percentual_valores_ausentes_coluna(dataset)

O dataset tem 12 colunas.
Encontrado: 7 colunas que têm valores ausentes.

In [148]:
df_missing

                  Valores Ausentes  % de Valores Ausentes    Dtype
Valor medido                   156                  32.03   object
Quant. planejada               136                  27.93   object
Unidade                        136                  27.93   object
Valor previsto                 108                  22.18   object
Duração (dias)                   1                   0.21  float64
Início                           1                   0.21   object
Término                          1                   0.21   object

In [150]:
colunas_para_remover = df_missing[df_missing['% de Valores Ausentes'] >= 30.00].index.tolist()

In [152]:
colunas_para_remover

['Valor medido']

In [154]:
colunas_para_remover = [col for col in colunas_para_remover if col not in ['Valor medido']]

In [156]:
colunas_para_remover

[]

In [158]:
dataset_clean = dataset.drop(colunas_para_remover, axis = 1)

In [160]:
dataset_clean.shape

(487, 12)

In [162]:
func_calc_percentual_valores_ausentes(dataset_clean)

O dataset tem 9.22 % de valores ausentes.

In [164]:
func_calc_percentual_valores_ausentes_coluna(dataset_clean)

O dataset tem 12 colunas.
Encontrado: 7 colunas que têm valores ausentes.

                  Valores Ausentes  % de Valores Ausentes    Dtype
Valor medido                   156                  32.03   object
Quant. planejada               136                  27.93   object
Unidade                        136                  27.93   object
Valor previsto                 108                  22.18   object
Duração (dias)                   1                   0.21  float64
Início                           1                   0.21   object
Término                          1                   0.21   object

In [166]:
dataset_clean.head()

,Tarefa,Quant. planejada,Unidade,Duração (dias),Início,Término,Previsto,Valor previsto,Medido,Valor medido,IDP,Status
0,1 - OBRA DE INFRAESTRUTURA,NaN,NaN,638.0,03/04/2023,30/09/2025,"90,75%","R$ 16.830.985,15","92,81%","R$ 17.212.824,78","1,02",Em dia
1,2 - ADMINISTRAÇÃO DA OBRA,NaN,NaN,107.0,01/06/2023,31/10/2023,"100,00%","R$ 687.889,44","100,00%","R$ 687.889,44","1,00",Concluído
2,3 - EQUIPE DE CAMPO,NaN,NaN,107.0,01/06/2023,31/10/2023,"100,00%","R$ 687.889,44","100,00%","R$ 687.889,44","1,00",Concluído
3,4 - Gerente de obra (GO),"6,0000",vb,107.0,01/06/2023,31/10/2023,"100,00%","R$ 196.939,44","100,00%","R$ 196.939,44","1,00",Concluído
4,5 - Mestre de obras,"6,0000",vb,107.0,01/06/2023,31/10/2023,"100,00%","R$ 185.986,38","100,00%","R$ 185.986,38","1,00",Concluído